USE [master]
GO
/****** Object:  Database [sql]    Script Date: 1/22/2024 1:54:17 PM ******/
CREATE DATABASE [sql]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'sql_Data', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\sql.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'sql_Log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\sql.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [sql].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [sql]
GO
/****** Object:  Table [dbo].[Hoadon]    Script Date: 1/22/2024 1:54:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hoadon](
	[MaHD] [nvarchar](30) NOT NULL,
	[MaKH] [nvarchar](50) NULL,
	[maNV] [nvarchar](50) NULL,
	[giaphong1ngay] [float] NULL,
	[maphong] [nvarchar](30) NULL,
	[ngaythue] [datetime] NULL,
	[ngaytra] [datetime] NULL,
	[thanhtien] [float] NULL,
	[thanhtoan] [bit] NULL,
 CONSTRAINT [PK_Hoadon] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Khachhang]    Script Date: 1/22/2024 1:54:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Khachhang](
	[Makh] [nvarchar](50) NOT NULL,
	[tenKH] [nvarchar](30) NULL,
	[CMT] [nvarchar](50) NULL,
	[Quoctich] [nvarchar](20) NULL,
	[gioitinh] [nvarchar](10) NULL,
	[dienthoai] [int] NULL,
	[mota] [nvarchar](50) NULL,
 CONSTRAINT [PK_Khachhang] PRIMARY KEY CLUSTERED 
(
	[Makh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Nhavien]    Script Date: 1/22/2024 1:54:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Nhavien](
	[MaNV] [nvarchar](50) NOT NULL,
	[hoTen] [nvarchar](50) NULL,
	[ngaysinh] [datetime] NULL,
	[gioitinh] [nvarchar](5) NULL,
	[matkhau] [nvarchar](50) NULL,
	[loai] [nvarchar](20) NULL,
	[taikhoan] [nvarchar](20) NULL,
	[img] [varchar](max) NULL,
 CONSTRAINT [PK_Nhavien] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Phong]    Script Date: 1/22/2024 1:54:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Phong](
	[Maphong] [nvarchar](30) NOT NULL,
	[tenphong] [nvarchar](30) NULL,
	[maloaiphong] [nvarchar](50) NULL,
	[tinhtrang] [bit] NULL,
 CONSTRAINT [PK_Phong] PRIMARY KEY CLUSTERED 
(
	[Maphong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[View_Baocao]    Script Date: 1/22/2024 1:54:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create View [dbo].[View_Baocao] As
SELECT 
    Hoadon.MaHD, 
    Khachhang.TenKH, 
    Nhavien.hoTen, 
    Phong.tenphong,
    Hoadon.thanhtien
FROM 
    Hoadon 
INNER JOIN 
    Khachhang ON Khachhang.Makh = Hoadon.MaKH 
INNER JOIN 
    Nhavien ON Nhavien.MaNV = Hoadon.maNV
INNER JOIN 
    Phong ON Phong.Maphong = Hoadon.maphong
GROUP BY 
    Hoadon.MaHD, Khachhang.TenKH, Nhavien.hoTen, Phong.tenphong,Hoadon.thanhtien
GO
/****** Object:  View [dbo].[view_doanhthu]    Script Date: 1/22/2024 1:54:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[view_doanhthu] as
SELECT ThangTable.Thang, ISNULL(SUM(Hoadon.thanhtien), 0) 
AS Doanhthu FROM (VALUES (1), (2), (3), (4), (5), (6), (7), (8), (9), (10), (11), (12)) AS ThangTable(Thang) LEFT JOIN Hoadon ON MONTH(Hoadon.ngaytra) = ThangTable.Thang GROUP BY ThangTable.Thang
GO
/****** Object:  Table [dbo].[Dichvu]    Script Date: 1/22/2024 1:54:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dichvu](
	[MaDv] [nvarchar](50) NOT NULL,
	[tenDv] [nvarchar](50) NULL,
	[gia] [float] NOT NULL,
 CONSTRAINT [PK_Dichvu] PRIMARY KEY CLUSTERED 
(
	[MaDv] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HDchitiet]    Script Date: 1/22/2024 1:54:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HDchitiet](
	[MaHD] [nvarchar](30) NOT NULL,
	[Madv] [nvarchar](50) NOT NULL,
	[dongia] [float] NULL,
	[soluong] [int] NULL,
 CONSTRAINT [PK_HDchitiet] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC,
	[Madv] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[view_hoadoan]    Script Date: 1/22/2024 1:54:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[view_hoadoan]
AS
SELECT dbo.Hoadon.MaHD, dbo.Khachhang.tenKH, dbo.Khachhang.dienthoai, dbo.Nhavien.hoTen AS NhanVien, dbo.Phong.tenphong, dbo.Hoadon.ngaythue, dbo.Hoadon.ngaytra, dbo.Hoadon.giaphong1ngay, dbo.HDchitiet.Madv, dbo.Dichvu.tenDv, dbo.HDchitiet.dongia AS DonGiaDV, 
             dbo.HDchitiet.soluong, dbo.Hoadon.giaphong1ngay * (DATEDIFF(day, dbo.Hoadon.ngaythue, dbo.Hoadon.ngaytra) + 1) AS ThanhTienPhong, dbo.HDchitiet.dongia * dbo.HDchitiet.soluong AS ThanhTienDV
FROM   dbo.Hoadon INNER JOIN
             dbo.Khachhang ON dbo.Hoadon.MaKH = dbo.Khachhang.Makh INNER JOIN
             dbo.Nhavien ON dbo.Hoadon.maNV = dbo.Nhavien.MaNV INNER JOIN
             dbo.Phong ON dbo.Hoadon.maphong = dbo.Phong.Maphong LEFT OUTER JOIN
             dbo.HDchitiet ON dbo.Hoadon.MaHD = dbo.HDchitiet.MaHD LEFT OUTER JOIN
             dbo.Dichvu ON dbo.HDchitiet.Madv = dbo.Dichvu.MaDv
GO
/****** Object:  Table [dbo].[Loaiphong]    Script Date: 1/22/2024 1:54:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Loaiphong](
	[Maloai] [nvarchar](50) NOT NULL,
	[tenloaiphong] [nvarchar](20) NULL,
	[gia1ngay] [float] NULL,
	[mota] [nvarchar](50) NULL,
 CONSTRAINT [PK_Loaiphong] PRIMARY KEY CLUSTERED 
(
	[Maloai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhaXuatBan]    Script Date: 1/22/2024 1:54:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaXuatBan](
	[ma_nxb] [nvarchar](50) NULL,
	[ten_nxb] [nvarchar](50) NULL,
	[dia_chi] [nvarchar](50) NULL,
	[sdt] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sach]    Script Date: 1/22/2024 1:54:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sach](
	[ma_sach] [nvarchar](50) NULL,
	[ten_sach] [nvarchar](50) NULL,
	[ma_nxb] [nvarchar](50) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Dichvu] ([MaDv], [tenDv], [gia]) VALUES (N'DV00001', N'Mì xào Hàn Quốc', 37000)
INSERT [dbo].[Dichvu] ([MaDv], [tenDv], [gia]) VALUES (N'DV00002', N'Cơm đặc biệt ', 45000)
INSERT [dbo].[Dichvu] ([MaDv], [tenDv], [gia]) VALUES (N'DV00003', N'Nước tinh khiết', 10000)
GO
INSERT [dbo].[HDchitiet] ([MaHD], [Madv], [dongia], [soluong]) VALUES (N'HD00002', N'DV00001', 37000, 10)
INSERT [dbo].[HDchitiet] ([MaHD], [Madv], [dongia], [soluong]) VALUES (N'HD00002', N'DV00003', 10000, 3)
INSERT [dbo].[HDchitiet] ([MaHD], [Madv], [dongia], [soluong]) VALUES (N'HD00002', N'DV00005', 7000, 5)
GO
INSERT [dbo].[Hoadon] ([MaHD], [MaKH], [maNV], [giaphong1ngay], [maphong], [ngaythue], [ngaytra], [thanhtien], [thanhtoan]) VALUES (N'HD00002', N'KH00002', N'NV00003', 200000, N'PH00001', CAST(N'2023-12-11T00:00:00.000' AS DateTime), CAST(N'2023-12-22T00:00:00.000' AS DateTime), 2835000, 1)
INSERT [dbo].[Hoadon] ([MaHD], [MaKH], [maNV], [giaphong1ngay], [maphong], [ngaythue], [ngaytra], [thanhtien], [thanhtoan]) VALUES (N'HD00003', N'KH00003', N'NV00003', 200000, N'PH00002', CAST(N'2023-12-11T00:00:00.000' AS DateTime), CAST(N'2023-12-15T00:00:00.000' AS DateTime), 1054000, 1)
INSERT [dbo].[Hoadon] ([MaHD], [MaKH], [maNV], [giaphong1ngay], [maphong], [ngaythue], [ngaytra], [thanhtien], [thanhtoan]) VALUES (N'HD00004', N'KH00007', N'NV00003', 150000, N'PH00005', CAST(N'2023-12-12T00:00:00.000' AS DateTime), CAST(N'2023-12-16T00:00:00.000' AS DateTime), 879000, 1)
GO
INSERT [dbo].[Khachhang] ([Makh], [tenKH], [CMT], [Quoctich], [gioitinh], [dienthoai], [mota]) VALUES (N'KH00002', N'Đoàn Văn Hiếu', N'2010310072097', N'Việt Nam', N'Nam', 372890769, N'')
INSERT [dbo].[Khachhang] ([Makh], [tenKH], [CMT], [Quoctich], [gioitinh], [dienthoai], [mota]) VALUES (N'KH00003', N'Nguyễn Thị Hoa', N'030202007866', N'Việt Nam', N'Nữ', 567789031, N'')
INSERT [dbo].[Khachhang] ([Makh], [tenKH], [CMT], [Quoctich], [gioitinh], [dienthoai], [mota]) VALUES (N'KH00004', N'Hoàng Văn Vinh', N'201031008969', N'Việt Nam', N'Nam', 972867654, N'')
GO
INSERT [dbo].[Loaiphong] ([Maloai], [tenloaiphong], [gia1ngay], [mota]) VALUES (N'LP00001', N'Phòng Vip1', 200000, N'Đầy đủ')
INSERT [dbo].[Loaiphong] ([Maloai], [tenloaiphong], [gia1ngay], [mota]) VALUES (N'LP00002', N'Phòng thường', 130000, N'')
INSERT [dbo].[Loaiphong] ([Maloai], [tenloaiphong], [gia1ngay], [mota]) VALUES (N'LP00003', N'Phòng Vip2', 230000, N'Có đồ ăn nhẹ')
GO
INSERT [dbo].[Nhavien] ([MaNV], [hoTen], [ngaysinh], [gioitinh], [matkhau], [loai], [taikhoan], [img]) VALUES (N'NV00004', N'Hoàng Thị Thảo', CAST(N'1999-11-08T00:00:00.000' AS DateTime), N'Nữ', N'827CCB0EEA8A706C4C34A16891F84E7B', N'Nhân Viên', N'thao123', NULL)
GO
INSERT [dbo].[Phong] ([Maphong], [tenphong], [maloaiphong], [tinhtrang]) VALUES (N'PH00001', N'Phòng 01', N'LP00001', 1)
INSERT [dbo].[Phong] ([Maphong], [tenphong], [maloaiphong], [tinhtrang]) VALUES (N'PH00002', N'Phòng 02', N'LP00001', 0)
INSERT [dbo].[Phong] ([Maphong], [tenphong], [maloaiphong], [tinhtrang]) VALUES (N'PH00004', N'Phòng 03', N'LP00003', 0)
GO
ALTER TABLE [dbo].[HDchitiet]  WITH CHECK ADD  CONSTRAINT [FK_HDchitiet_Dichvu] FOREIGN KEY([Madv])
REFERENCES [dbo].[Dichvu] ([MaDv])
GO
ALTER TABLE [dbo].[HDchitiet] CHECK CONSTRAINT [FK_HDchitiet_Dichvu]
GO
ALTER TABLE [dbo].[HDchitiet]  WITH CHECK ADD  CONSTRAINT [FK_HDchitiet_Hoadon] FOREIGN KEY([MaHD])
REFERENCES [dbo].[Hoadon] ([MaHD])
GO
ALTER TABLE [dbo].[HDchitiet] CHECK CONSTRAINT [FK_HDchitiet_Hoadon]
GO
ALTER TABLE [dbo].[Hoadon]  WITH CHECK ADD  CONSTRAINT [FK_Hoadon_Khachhang] FOREIGN KEY([MaKH])
REFERENCES [dbo].[Khachhang] ([Makh])
GO
ALTER TABLE [dbo].[Hoadon] CHECK CONSTRAINT [FK_Hoadon_Khachhang]
GO
ALTER TABLE [dbo].[Hoadon]  WITH CHECK ADD  CONSTRAINT [FK_Hoadon_Nhavien] FOREIGN KEY([maNV])
REFERENCES [dbo].[Nhavien] ([MaNV])
GO
ALTER TABLE [dbo].[Hoadon] CHECK CONSTRAINT [FK_Hoadon_Nhavien]
GO
ALTER TABLE [dbo].[Hoadon]  WITH CHECK ADD  CONSTRAINT [FK_Hoadon_Phong] FOREIGN KEY([maphong])
REFERENCES [dbo].[Phong] ([Maphong])
GO
ALTER TABLE [dbo].[Hoadon] CHECK CONSTRAINT [FK_Hoadon_Phong]
GO
ALTER TABLE [dbo].[Phong]  WITH CHECK ADD  CONSTRAINT [FK_Phong_Loaiphong] FOREIGN KEY([maloaiphong])
REFERENCES [dbo].[Loaiphong] ([Maloai])
GO
ALTER TABLE [dbo].[Phong] CHECK CONSTRAINT [FK_Phong_Loaiphong]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = -720
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Hoadon"
            Begin Extent = 
               Top = 9
               Left = 57
               Bottom = 206
               Right = 287
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Khachhang"
            Begin Extent = 
               Top = 26
               Left = 444
               Bottom = 223
               Right = 666
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Nhavien"
            Begin Extent = 
               Top = 322
               Left = 575
               Bottom = 519
               Right = 797
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Phong"
            Begin Extent = 
               Top = 603
               Left = 57
               Bottom = 800
               Right = 279
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "HDchitiet"
            Begin Extent = 
               Top = 801
               Left = 57
               Bottom = 998
               Right = 279
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Dichvu"
            Begin Extent = 
               Top = 999
               Left = 57
               Bottom = 1169
               Right = 279
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Al' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'view_hoadoan'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N'ias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'view_hoadoan'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'view_hoadoan'
GO
USE [master]
GO
